.search__delete {
    cursor: pointer;
    position: absolute;
    background-color: white;
    background-image: url(../../../images/delete.svg);
    background-size: cover;
    background-position: center;
    outline: none;
    border: 0;
    top: 19px;
    right: 58px;
    width: 8px;
    height: 8px;
    padding: 0;
}

.search__delete:hover {
    opacity: 0.5;
}