.place__title {
    width: 195px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Roboto", "Arial ", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin: 5px auto 5px 15px;
    color: #000000;
}