.search {
  font-family: "Roboto", "Arial ", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  width: 1120px;
  max-height: 345px;
  margin: 0 auto 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 880px) {
  .search {
    padding-top: 28px;
    width: 100%;
  }
}
