.places {
  list-style: none;
  padding: 0;
  margin: 45px auto 0 auto;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 20px;
  width: 82vw;
  max-width: 1400px;
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .places {
    width: 91.8vw;
    grid-template-columns: repeat(auto-fit, 300px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023.5px) {
  .places {
    width: 91.2vw;
    grid-template-columns: repeat(auto-fit, 340px);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .places {
    width: 87.5vw;
  }
}

