.search__select {
    background-color: black;
    margin-right: 20px;
}
.search__select:last-child{
    margin-right: 0px;
}

/* .Select__option{
    Width: 265px;
    padding-left: 0;
}
.Select__optionContainer{
    padding-left: 0;
} */
